<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">ModeratorApp</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="dashboard.html">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                <li><a href="list.html">Events</a></li>
                <li><a href="#">Teams</a></li>
                <li><a href="#">Questions</a></li>
                <li><a href="#">Users</a></li>
                <li><a href="#">Results</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Event create</h1>

            <div class="edit-form">
                <input type="hidden" name="_csrf" value="Z2dFbGwwRUg1FDANLn5yZVBUdD1eV3YZUzI3XSFpMnszPTU/GEAmOQ==">

                <div class="form-group field-discount-export_id">
                    <label class="control-label" >Name</label>
                    <input [(ngModel)]="name" type="text"class="form-control" name="Discount[export_id]">

                    <div class="help-block"></div>
                </div>

                <div class="form-group field-discount-export_id">
                    <label class="control-label" >Description</label>
                    <input [(ngModel)]="eDesc" type="text" class="form-control" name="Discount[export_id]">

                    <div class="help-block"></div>
                </div>

                <div class="form-group field-discount-export_id">
                    <label class="control-label" >Date</label>
                    <input [(ngModel)]="eDate" type="text" class="form-control" name="Discount[export_id]">

                    <div class="help-block"></div>
                </div>

                <div class="form-group field-discount-export_id">
                    <label class="control-label" >Location</label>
                    <input [(ngModel)]="loc" type="text" class="form-control" name="Discount[export_id]">

                    <div class="help-block"></div>
                </div>

                <div class="form-group field-discount-export_id">
                    <label class="control-label" >Prize ($)</label>
                    <input [(ngModel)]="prize" type="text" class="form-control" name="Discount[export_id]">

                    <div class="help-block"></div>
                </div>

                <div class="form-group field-discount-export_id">
                    <label class="control-label" >Rules</label>
                    <input [(ngModel)]="rules" type="text" class="form-control" name="Discount[export_id]">

                    <div class="help-block"></div>
                </div>

                <div class="form-group field-discount-export_id">
                    <label class="control-label" >Team size limit</label>
                    <input [(ngModel)]="teamsize" type="text" class="form-control" name="Discount[export_id]">

                    <div class="help-block"></div>
                </div>

                <div class="form-group field-discount-export_id">
                    <label class="control-label" >Status</label>
                    <input [(ngModel)]="eStatus" type="checkbox" class="form-control" name="Discount[export_id]">

                    <div class="help-block"></div>
                </div>

                <div class="form-group">
                    <button (click)="save()" type="submit" class="btn btn-success">Create</button>
                </div>
            </div>
        </div>
    </div>
</div>
