<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand logo">
                        Quiz<span>D</span><i class="fa fa-question-circle logo-fa"></i><span>WN</span>
                    </h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a [routerLink]="['/leaderboard']">Leaderboard</a></li>
                            <li><a [routerLink]="['/dashboard']">Moderator</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="inner cover">
                <h1 class="cover-heading">Wanna get down in this Quiz?</h1>
                <p class="lead">You can download our app and particapate in quizzes around the world. 1.000.000+ questions with many more answers. <br />Are you ready and steady??</p>
                <p class="lead">
                    <a href="#" class="btn btn-lg btn-default">Learn more</a>
                </p>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>QuizDown Inc.</p>
                </div>
            </div>

        </div>

    </div>

</div>
